@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

html {
  font-size: 14px;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
}

/*updated*/
#home{
  background-image: url('../image/back.jpg');
  width: 100;
  height: 100vh;
  background-size: cover;
  background-position: auto;
  background-position: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}

/* Parallax */
.parallax{
  height: 80vh;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_1280.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin:-10px;
}
.parallax-content{
  position: relative;
  top:55%;
  transform:translateY(-50%);
  text-align: center;
  padding: 50px;
}

#home span{
  color: coral;
}

#new .oneimg{
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one{
  position: relative;
}

#new .one .details{
  position: absolute;
  top:0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease;
  opacity:0.8;
  background-color:rgb(1,1,1);
  width: 100%;
  height: 100%;
}

#new .one .details:hover{
  background-color:cornsilk;
}

#new .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
/*updated*/
.carousel-item img {
  object-fit: cover;
  object-position: top;
  height: 60vh;
  overflow: hidden;
}

.old_price {
  font-weight: bold;
  color: red;
}

.new_price {
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.pic-box {
  position: relative;
}

.hot {
  background-color: orangered;
  color: white;
  width: 50px;
  text-align: center;
  font-weight: bold;
  display: inline;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
}

.tit{
  color:#D8D8D8;
}

#dynamic-text-container {
  width: 15178px;
  height: 20px;
  color: aliceblue;
  background-color: darkslategray;
}

#dynamic-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

#InputContainer {
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

#input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.btn-cssbuttons {
  --btn-color: #275efe;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 
.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
 
.btn-cssbuttons span,
 .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 
.btn-cssbuttons span {
  transition-delay: 0.05s;
}
 
.btn-cssbuttons span:first-child {
  padding-right: 7px;
}
 
.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}
 
.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}
 
.btn-cssbuttons ul li {
  flex: 1;
}
 
.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 
.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}
 
.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}
 
.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}
 
.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}
 
.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}
 
.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}
 
.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}
 